@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:ital,wght@0,100..900;1,100..900&family=Pixelify+Sans:wght@400..700&display=swap');

*{ /*Seletor Universal*/
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.title{
    color: white;
    font-family: "Pixelify Sans";
    text-align: center;
}

p{
    color: white;
    font-family: "Advent Pro";
    text-align: center;
}

.response-content {
  color: white;
  line-height: 1.6;
  font-size: 16px;
  font-family: 'Advent Pro', sans-serif;
}


body{
    background-image: url(assets/bg.jpg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: top center;
    background-color: #121214;
}

header{
    padding-top: 2rem;
    text-align: center;
}

header img{
    width: 15rem;
}

main{
    max-width: 36rem;
    width: 90%;
    margin: 3rem auto;
}

section{
    background-image: linear-gradient(90deg, #9572fc, #43e7ad 50%, #e2d45c 100%);
    border-radius: 0.625rem;
    padding-top: 4px;
}

section > div{
    padding: 2rem;
    padding-top: 1.5rem;
    background-color: #2a2534;
    border-radius: 0.5rem;
}

#aiResponse {
  position: relative;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 0.5rem;
  padding: 1.25rem 1.25rem 1.25rem 1.5rem; /* extra left space */
  overflow: hidden;
  display: none;
}

#aiResponse::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 6px;
    height: 100%;
    border-radius: 0.5rem 0 0 0.5rem;
    background: linear-gradient(180deg, #9572fc, #43e7ad 50%, #e2d45c 100%);
}

#aiResponse ul{
    padding: 1rem;
}

/*Animações*/

main section{
    opacity: 0;
    transform: translateY(2rem);

    animation-name: appear;
    animation-duration: 700ms;
    animation-fill-mode: forwards;
}

@keyframes appear {
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

form{
    display: flex;
    gap: 0.85rem;
    flex-wrap: wrap;
    margin: 1.25rem 0;
}

form input, form select{
    all: unset;
    border: 2px solid #9147ff;
    border-radius: 0.5rem;
    padding: 0.675rem;
    font-family: "Advent Pro";
    color: white;
    background-color: #00000066;
    flex: 1;
}

button{
    width: 100%;
    border: 0;
   background-image: linear-gradient(90deg, #9572fc, #43e7ad 50%, #e2d45c 100%);
   padding: 0.675rem;
   border-radius: 0.5rem;
   font-weight: bold;
   transition: all 0.3s ease;
}

button:hover{
    cursor: pointer;
    transform: translateY(2px);
    box-shadow: 0 5px 1rem rgba(255,348,107,0.2);
}

button:disabled{
    transition: none;
    transform: initial;
    box-shadow: initial;
    cursor: not-allowed;
}

.loading{
    animation: pulse 1s infinite;
}

@keyframes pulse{
    50%{
        opacity: 0.5;
    }
}